/*--circles dashboard--*/
 .block {
    background-color: #fff;
    border: 5px solid #f8f8f8;
    text-align: center;
    vertical-align: middle;
}
.circle {
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 200px;
    color: white;
    height: 100px;
    width: 100px;
    font-weight: bold;
    display: table;
    margin: 20px auto;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}

/*Rarios img*/
div > input[type="radio"]{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
div > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
div > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:4px solid #f00 !important;
  border-radius: 100px;
  box-shadow: 0px 80px 80px rgba(0,0,0,.2);
  border: 1px solid red;
}

.ruim{
  background-color: rgb(255,0,0,0.4);
}

.regular{
  background-color: rgb(255,255,0, 0.4);  
}

.bom{
  background-color: rgb(50,205,50, 0.4);  
}

.otimo{
  background-color: rgb(34,139,34, 0.4);
}

img{
  margin: 0 auto;
}
/*form*/
#part-1, #part-2{
  display:none;
}

#part-1{
  margin-top: 14%;
}

.title{
  max-width: 100%;
  background-color: #BDBDBD;
  text-align: center;
  padding: 10px;
  color: #FFF;
}

.option{
  width: 20%;
  float: left;
}

.option input, .option img, .option span{
  width: 70%;
  margin-left: 15%;
}

.label{
  background-color: #BDBDBD;
  font-size: 22px !important;
  font-weight: bold;
  text-align: center;
  padding-top: 6%;
  color: #FFF;
  cursor: pointer;
}

#avancar, #enviar, #voltar{
  border: none !important;
  background-color: #BDBDBD;
  color: #FFF;
  text-decoration: none;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  width:100px;
}

#telefone, #ticket{
  position: relative;
  border: 4px solid #BDBDBD;
  width: 100%;
  height: 140px;
  padding: 10px;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#imagem{
  width: 100%;
}

.obrigado{
  width: 300px !important;
  height: 100px !important;
}

.img-ticket{
  margin: 0 !important;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.block p img{
  width: 40px;
}

.menu a img{
  width: 20px;
}

/* aplica somente a partir de 320px */
@media screen and (max-width: 320px) {
   #telefone, #ticket{
        position: relative;
        border: 4px solid #BDBDBD;
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }
}
 
/* aplica somente a partir de 480px em landscape */
@media screen and (max-width: 480px) {
   #telefone, #ticket{
        position: relative;
        border: 4px solid #BDBDBD;
        width: 100%;
        height: 70px;
        padding: 10px;
        font-size: 38px;
        font-weight: bold;
        text-align: center;
    }
}

/* aplica somente a partir de 480px em landscape */
@media screen and (max-width: 720px) {
   #telefone, #ticket{
        position: relative;
        border: 4px solid #BDBDBD;
        width: 100%;
        height: 100px;
        padding: 10px;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    }
}

ul.pagination li.paginate_button a{
  color: #000;
}

ul.pagination li.active a:hover{
  border: 1px solid #000;
}

ul.pagination li.active a{
  color: #FFF;
  border: 1px solid silver;
  background: #D31027 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EA384D, #D31027) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EA384D, #D31027) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}